/* 全站 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
li {
  list-style: none;
}
