* {
  outline: 1px solid yellow;
}
.story-container {
  width: 1296px;
  max-width: 100%;
  margin: 0 auto;
}
.border-line {
  width: 120px;
  height: 4px;
  background-color: $primary;
}
.letter-spacing-16 {
  letter-spacing: 16px;
}
.letter-spacing-4 {
  letter-spacing: 4px;
}

//
.homeStory {
  width: 100%;
  height: 100%;
  background-image: url(../../../public/lighthouse_img/alexander-andrews-vGCErDhrc3E-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 12px;

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  &-content-card {
    width: 351px;
    height: 320px;
    border-radius: 240px 240px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    //overflow: visible;
    z-index: 2;
    &-text {
      padding: 125.5px 63.5px 0;
    }
  }
  &-content-card:nth-child(1) {
    background-image: url(../../../public/lighthouse_img/mael-balland-BtTY5Y5dAa0-unsplash.jpg);
    .homeStory-content-card-hover {
      /* transition 不支援 display 屬性進行過渡，因此使用 display-none/block 會造成 transition 失效；改使用 opacity: 0;+visibility: hidden; / opacity: 1；+visibility: visible; */
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 240px 240px 0 0;
      transition-duration: 1s;
      z-index: 3;
      &-text {
        width: 100%;
        height: 100%;
        position: absolute;
        border-bottom: 12px solid $primary;
        z-index: 3;
      }
    }
    &:hover .homeStory-content-card-hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &-content-card:nth-child(2) {
    background-image: url(../../../public/lighthouse_img/birk-enwald-q-ToUbpoK14-unsplash.jpg);
    .homeStory-content-card-hover {
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 240px 240px 0 0;
      transition-duration: 1s;
      &-text {
        width: 100%;
        height: 100%;
        position: absolute;
        border-bottom: 12px solid $primary;
      }
    }
    &:hover .homeStory-content-card-hover {
      opacity: 1;
      visibility: visible;
    }
  }
  &-content-card:nth-child(3) {
    background-image: url(../../../public/lighthouse_img/michael-krahn-ikgFjrzGsAE-unsplash.jpg);
    .homeStory-content-card-hover {
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 240px 240px 0 0;
      transition-duration: 1s;
      &-text {
        width: 100%;
        height: 100%;
        position: absolute;
        border-bottom: 12px solid $primary;
      }
    }
    &:hover .homeStory-content-card-hover {
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (min-width: 768px) {
  .homeStory {
    padding: 160px 12px;
    &-content-card {
      width: 416px;
      height: 564px;
      &-text {
        padding: 215px 96px 0;
      }
    }

    .homeStory-light {
      opacity: 0;
      //visibility: hidden;
      position: absolute;
      bottom: 324px;
      left: 154.87px;
      // bottom: 0;
      // left: 50%;
      width: 320px;
      height: 500px;
      background: linear-gradient(to top, rgba(255, 92, 0, 0.4), rgba(255, 92, 0, 0));
      clip-path: polygon(50% 100%, 100% 0, 0 0);
      transform: rotate(-50deg);
      transition: transform 1s steps(10, start);
      z-index: -1;
    }
  }
  .homeStory-content-card:hover .homeStory-light {
    opacity: 1;
    transform: rotate(30deg); /*目標角度 */
  }
}

@media (min-width: 992px) {
  .homeStory-content-card:hover .homeStory-light {
    transform: rotate(40deg);
  }
}

@media (min-width: 1260px) {
  .homeStory {
    &-content {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .homeStory-content-card:hover .homeStory-light {
    transform: rotate(50deg);
  }
}
