* {
  outline: 1px solid yellow;
}
.story-container {
  width: 1296px;
  max-width: 100%;
  margin: 0 auto;
}
.border-line {
  width: 120px;
  height: 4px;
  background-color: $primary;
}
.letter-spacing-16 {
  letter-spacing: 16px;
}
.letter-spacing-4 {
  letter-spacing: 4px;
}

// homeStory
.homeStory {
  width: 100%;
  height: 100%;
  background-image: url(../../../public/lighthouse_img/alexander-andrews-vGCErDhrc3E-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 12px;
  overflow: hidden; // 限制範圍，燈束hover不會超出造成出現x軸。

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }

  // homeStory-card
  .homeStory-card {
    position: relative;
    //max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .homeStory-card::after {
    content: '';
    position: absolute;
    bottom: 350px;
    left: 130px;
    width: 300px;
    height: 400px;
    background: linear-gradient(to top, rgba(255, 92, 0, 0.4), rgba(255, 92, 0, 0));
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    transform: rotate(-35deg) translate(0, 0);
    transition: transform 1s steps(10, start);
    z-index: 0; /* 放在 .testt3 的後面 */
    opacity: 0;
    //display: none;
  }

  // card hover
  /* transition 不支援 display 屬性進行過渡，因此使用 display-none/block 會造成 transition 失效；改使用 opacity: 0;+visibility: hidden; / opacity: 1；+visibility: visible; */
  .homeStory-card_hover {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 240px 240px 0 0;
    transition-duration: 1s;
    z-index: 10;
    &-text {
      width: 100%;
      height: 100%;
      position: absolute;
      border-bottom: 12px solid $primary;
    }
  }
  .homeStory-card-L:hover .homeStory-card_hover,
  .homeStory-card-M:hover .homeStory-card_hover,
  .homeStory-card-R:hover .homeStory-card_hover {
    visibility: visible; /* 在 hover 時顯示 */
    opacity: 1;
  }

  //
  .homeStory-card-L {
    background-image: url(../../../public/lighthouse_img/mael-balland-BtTY5Y5dAa0-unsplash.jpg);
    width: 351px;
    height: 320px;
    border-radius: 240px 240px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    //overflow: visible;
    z-index: 1;
  }
  .homeStory-card-M {
    background-image: url(../../../public/lighthouse_img/birk-enwald-q-ToUbpoK14-unsplash.jpg);
    width: 351px;
    height: 320px;
    border-radius: 240px 240px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    //overflow: visible;
    z-index: 1;
  }
  .homeStory-card-R {
    background-image: url(../../../public/lighthouse_img/michael-krahn-ikgFjrzGsAE-unsplash.jpg);
    width: 351px;
    height: 320px;
    border-radius: 240px 240px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  .homeStory-card-text {
    padding: 125.5px 63.5px 0;
  }
}

@media (min-width: 768px) {
  .homeStory {
    padding: 160px 12px;
    .homeStory-card-text {
      padding: 215px 96px 0;
    }

    .homeStory-card-L {
      width: 416px;
      height: 564px;
    }
    .homeStory-card-M {
      width: 416px;
      height: 564px;
    }
    .homeStory-card-R {
      width: 416px;
      height: 564px;
    }
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1260px) {
  .homeStory {
    &-content {
      display: flex;
      flex-direction: row;
    }

    //.testt2-cont,
    .homeStory-card {
      width: 33.333%;
    }
    .homeStory-card:hover::after {
      transform: rotate(35deg) translate(80px, -100px); /* 在 hover 時旋轉 */
      opacity: 1;
      //display: block;
    }
  }
}
