/* icon */
.material-symbols-outlined-fill {
  font-variation-settings: 'FILL' 1;
}
.material-icon {
  padding: 10px;
}

header {
  position: relative; // 定位參考點
  padding: 8px 12px;
  .img-logo {
    width: 144px;
  }
}

.header {
  &-menu-link {
    position: absolute;
    top: 100%; // 將 header-menu-link 放在 header 的正下方
    left: 0; // 對齊左邊
    right: 0; // 撐滿整個寬度
    backdrop-filter: blur(5px); // 毛玻璃特效
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding: 85px 0 145px;
  }
  &-logo {
    padding: 4px 8px;
  }
  &-navbar {
    padding: 8px 0 17px;
    column-gap: 24px;
  }
  &-navbar-link {
    padding: 8px 16px;
    &:hover {
      font-weight: $font-weight-bold;
      color: $primary;
    }
  }
  &-nav-icon {
    padding: 4px 0;
    column-gap: 0px;
  }
}

@media (min-width: 375px) {
  header {
    padding: 12px 40px;
  }
}
@media (min-width: 576px) {
  header {
    .img-logo {
      width: 288px;
    }
  }
  .header {
    &-logo {
      padding: 8px 16px;
    }
    &-nav-icon {
      margin-left: 40px;
      column-gap: 32px;
    }
  }
}
@media (min-width: 1296px) {
  .header {
    &-navbar {
      column-gap: 40px;
    }
    &-nav-icon {
      margin-left: 60px;
    }
  }
}
@media (min-width: 1585px) {
  header {
    padding: 12px 120px;
  }
  .header {
    &-navbar {
      column-gap: 80px;
    }
    &-nav-icon {
      margin-left: 80px;
    }
  }
}
@media (min-width: 1745px) {
  .header {
    &-navbar {
      column-gap: 120px;
    }
    &-nav-icon {
      margin-left: 120px;
    }
  }
}
